<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">

	<display-name>Shopping List</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>
			/WEB-INF/log4j.properties
		</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/dao.xml
			/WEB-INF/service.xml
			/WEB-INF/security.xml
		</param-value>
	</context-param>

	<!-- Listeners -->

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Servlets -->
	
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet
		</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
			<param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>se.aaslin.developer.shoppinglist.ws</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Servlets GWT -->
	
	<servlet>
		<servlet-name>loginService</servlet-name>
		<servlet-class>se.aaslin.developer.shoppinglist.server.login.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>shoppingListService</servlet-name>
		<servlet-class>se.aaslin.developer.shoppinglist.server.shoppinglist.ShoppingListGridServiceImpl</servlet-class>
	</servlet>
	
	<!-- Servlet Mappings -->
	
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet Mappings GWT -->
	
	<servlet-mapping>
		<servlet-name>loginService</servlet-name>
		<url-pattern>/gwt.shoppinglist/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>shoppingListService</servlet-name>
		<url-pattern>/gwt.shoppinglist/shoppinglist</url-pattern>
	</servlet-mapping>
</web-app>
